* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 2rem auto;
    text-align: center;
    width: 75%;
}

h1 {
    margin-bottom: 2rem;
}

#userTaskInput {
    border-width: 0;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 1.3rem;
}

#addTask {
    border-radius: 50%;
    border: none;
    display: inline-block;
    height: 50px;
    width: 50px;
    font-size: 2rem;
    font-weight: bold;
    background-color: pink;
    color: black;
    cursor: pointer;
}

.todos {
    margin-top: 1rem;
}

.li-styling {
    font-size: 1.5rem;
    list-style: none;
    margin-bottom: 0.5rem;
    cursor: pointer;
}